body {
  font-family: lato;
  background-image: url('unsplash2.jpg');
  background-size: cover;
  background-color: MediumSeaGreen;
  color: white;
}

div {
  margin-top: 10px;
}

fieldset {
  border: none;
}

.container {
  background-color: rgba(60, 159, 90, 0.5);
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px;
  max-width: 450px;
  margin: auto;
}

.entry {
  background-color: whitesmoke;
  background-image: url('bootprint.png');
  background-repeat: no-repeat;
  background-position: right;
  color: black;
  padding: 20px 50px 20px 20px;
  margin-top: 10px;
  width: 370px;
}
